APP_NAME=RADO
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_TIMEZONE=Asia/Tehran
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=rado
DB_USERNAME=rado
DB_PASSWORD=
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
RADO_CITY=Baneh
RADO_DISPATCH_RADIUS_KM=1.5
RADO_DISPATCH_EXPAND_RADII_KM=3,5
RADO_CURRENCY=IRR
