Options -Indexes
DirectoryIndex index.php
<FilesMatch "^RADO-cPanel.*\.zip$">
    Require all denied
</FilesMatch>
RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]
RewriteRule ^api/app-updates/(passenger|driver)/?$ api/app-updates/index.php?app=$1 [L,QSA]
RewriteRule ^api/v1/maps/reverse/?$ api/v1/maps/reverse/index.php [L,QSA]
RewriteRule ^rado-system/ - [F,L]
